.ranking-table button {
    display: block;
    margin: 200px auto 0;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .ranking-table tbody tr:first-child td:first-child {
    position: relative;
  }
  .ranking-table tbody tr:first-child td:first-child::before {
    content: '👑';
    position: absolute;
    left: -1.5em;
    top: 50%;
    transform: translateY(-50%);
  }
  
